       body{
        background-image:url('background_image.jpg');
        background-repeat: no-repeat;
        background-size:cover;
       }
       #heading1{
        font-style: italic;
        font-weight:bolder;
       }
       .heading2{
        background-color: aquamarine;
       }
       div h2{
        color:blueviolet;
       }
       h3,h4{
        background-color:darkcyan;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
       }